<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Witaj na stronie startowej</title>
    <style>
      .click{background-color: yellow}
      #unique{background-color: red}
    </style>
</head>
<body>
  <h1>Witaj</h1>
  <b>Witaj na stronie startowej</b>
  <p class="click">To jest paragraf</p>
  <button class="click">kliknij mnie</button>
  <button class="second">drugi przycisk</button>
  <div id="unique">Element blokowy</div>
  <span>Hello Im span! Element liniowy</span>
  <input id="name">
  <ul>
    <li><b>Audi</b></li>
    <li>Mercedes</li>
    <li>BMW</li>
  </ul>
  <input type="checkbox">
  <input type="text">
  <input type="date">
  <a href="https://www.google.com">Google Page</a>
</body>
</html>